@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: #f7f7f9;
  font-family: Poppins, sans-serif;
}

.offcanvas-backdrop {
  background-color: transparent;
}

.img {
  width: 100%;
}

#hero {
  background-image: url("images/header-shapes mobile.png");
  background-size: cover;
  border-bottom-left-radius: 4rem;
}

#about {
  border-top-right-radius: 4rem;
}

#contact {
  background-image: url("images/header-shapes mobile.png");
  border-top-left-radius: 4rem;
  background: #6070ff;
}

.btn {
  background-color: #fff;
}

@media (max-width: 576px) {
  .nav-link {
    color: #fff;
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  #hero,
  #contact {
    background-image: url("images/Header bg@2x.png");
    background-size: cover;
  }
}
