html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 0 5rem;
  position: fixed;
  height: 7.2rem;
  background-color: #fff;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #6070ff;
  text-transform: capitalize;
  font-weight: 700;
}

.hamburger-menu {
  width: 6rem;
  height: 6rem;
  right: 2.4rem;
  padding: 1.2rem;
  cursor: pointer;
}

.hamburger-menu img {
  width: 100%;
  height: 100%;
}

.nav-items ul {
  display: none;
}

.text {
  width: 100%;
  height: 71.8rem;
  padding: 11.4rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url(images/Header\ bg@2x.png);
  background-size: cover;
  margin-bottom: 2rem;
  border-bottom-left-radius: 10rem;
}

.text-section {
  width: 87.2%;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
}

.head-section {
  font-size: 4rem;
  min-width: 100%;
  max-width: 100%;
  line-height: 5.2rem;
  color: #172b4d;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.para-section {
  color: #344563;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.support-text {
  color: #7f8cff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: Poppins, sans-serif;
}

.social-media-icons ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-bottom: 2rem;
}

.fa-brands {
  color: #505f79;
}

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8.8rem;
  align-items: center;
  padding: 11.4rem 2.4rem;
}

.card-work {
  width: 90.2%;
  margin: 0 auto;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  border-radius: 4rem;
  padding: 1.6rem;
}

.snapshot-portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  min-height: 28.8rem;
}

.work-title {
  font-family: Poppins, sans-serif;
  font-size: 3.5rem;
  line-height: 4.4rem;
  font-weight: 700;
  color: #091e42;
  text-transform: capitalize;
}

.frame {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.frame .client {
  text-transform: uppercase;
  color: #344563;
}

.frame .role,
.frame .year {
  text-transform: capitalize;
  color: #6b778c;
}

.frame img {
  width: 0.8rem;
  height: 0.8rem;
  object-fit: cover;
}

.para {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #344563;
  width: 80%;
}

.tags ul {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  list-style: none;
}

.tags ul li {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  padding: 0.4rem 1.2rem;
  border-radius: 0.8rem;
}

.action {
  height: 7.2rem;
}

.btn {
  padding: 1.2rem;
  border: 1px solid #7f8cff;
  border-radius: 0.8rem;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: all 0.4s;
  background-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.btn:disabled {
  background: #fff;
  color: #5e6c84;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  gap: 2.4rem;
  border-top-right-radius: 10rem;
  padding: 11.4rem 2.4rem;
}

.about-text-section {
  width: 87.2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.about-head-section {
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  text-transform: capitalize;
  color: #172b4d;
  margin-bottom: 1rem;
}

.about-para-section {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.skills-container {
  width: 100%;
}

.language-title {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  height: 7.2rem;
  color: #344563;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.languages ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.language {
  width: 100%;
  height: 6.672rem;
  background-color: #f7f7f9;
  border-radius: 0.8rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
}

.language img {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;
  left: 1.2rem;
  top: calc(50% - 4.8rem / 2 - 0.36px);
}

.language p {
  position: absolute;
  height: 2.4rem;
  left: 7.6rem;
  right: 1.2rem;
  top: calc(50% - 2.4rem / 2 - 0.36px);
  color: #253858;
}

.framework,
.skill {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  border-bottom: 1px solid #dfe1e6;
  color: #344563;
  text-transform: capitalize;
  height: 7.2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.chevron-icon {
  cursor: pointer;
  position: absolute;
  right: 2.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 84.6rem;
  background: #6070ff;
  background-image: url(images/Header\ bg@2x.png);
  background-size: cover;
  border-top-left-radius: 10rem;
}

.contact-text {
  width: 87.2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.contact p {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ebebff;
  text-align: center;
  margin: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 27rem;
  max-width: 44.7rem;
}

.input-form {
  display: block;
  width: 100%;
  height: 4.8rem;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.input-form::placeholder {
  padding-left: 1.6rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #172b4d;
}

.textarea {
  display: block;
  width: 100%;
  height: 17rem;
  resize: none;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
}

.textarea::placeholder {
  padding: 1.5rem 1.6rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #b3bac5;
}

.submit {
  width: 14.2rem;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
  background: #fff;
  border: none;
  border-radius: 0.8rem;
  font-family: Poppins, sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.7rem;
  text-align: center;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  color: #6070ff;
  transition: all 0.4s;
  cursor: pointer;
}

.submit:hover {
  color: #fff;
  background-color: #6070ff;
}

.submit:active {
  background-color: #2230d2;
  color: #fff;
}

.submit:disabled {
  background: #fff;
  color: #5e6c84;
}

@media (min-width: 960px) {
  .hamburger-menu {
    display: none;
  }

  .nav-items ul {
    display: flex;
    gap: 3.2rem;
    padding-right: 14.2rem;
  }

  .nav-links {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #344563;
    text-transform: capitalize;
  }

  .logo {
    padding-left: 14.2rem;
  }

  .text {
    display: flex;
    justify-content: center;
    height: 84.6rem;
  }

  .head-section {
    font-size: 4.8rem;
  }

  .para-section {
    font-size: 2rem;
  }

  .card-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-2 .snapshot-portfolio,
  .card-4 .snapshot-portfolio {
    grid-column: 2/3;
  }

  .left-block {
    width: 100%;
    padding: 2.4rem;
    gap: 2.4rem;
  }

  .card-2 .left-block,
  .card-4 .left-block {
    grid-row: 1/2;
  }

  .about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .languages ul {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }

  .language {
    width: 12.2rem;
    height: 12rem;
  }

  .language img {
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;
    left: calc(50% - 4.8rem / 2 - 2.5rem);
    top: 1.2rem;
  }

  .language p {
    position: absolute;
    height: 2.4rem;
    left: 1.2rem;
    top: 7.6rem;
    color: #253858;
  }
}
